In [14]:
# resources: tabula-py documentation
# https://medium.com/analytics-vidhya/how-to-extract-multiple-tables-from-a-pdf-through-python-and-tabula-py-6f642a9ee673

!java -version

openjdk version "11.0.8" 2020-07-14 LTS
OpenJDK Runtime Environment Zulu11.41+23-CA (build 11.0.8+10-LTS)
OpenJDK 64-Bit Server VM Zulu11.41+23-CA (build 11.0.8+10-LTS, mixed mode)

In [15]:
import tabula
import pandas as pd

In [16]:
tabula.environment_info()

Python version:
    3.8.3 (default, Jul  2 2020, 11:26:31)
[Clang 10.0.0 ]
Java version:
    openjdk version "11.0.8" 2020-07-14 LTS
OpenJDK Runtime Environment Zulu11.41+23-CA (build 11.0.8+10-LTS)
OpenJDK 64-Bit Server VM Zulu11.41+23-CA (build 11.0.8+10-LTS, mixed mode)
tabula-py version: 1.4.1
platform: macOS-10.15.7-x86_64-i386-64bit
uname:
    uname_result(system='Darwin', node='Jordans-Workbook.local', release='19.6.0', version='Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64', machine='x86_64', processor='i386')
linux_distribution: ('Darwin', '19.6.0', '')
mac_ver: ('10.15.7', ('', '', ''), 'x86_64')

In [18]:
pdf_path = "https://www.census.gov/history/pdf/histstats-colonial-1970.pdf"

dfs = tabula.read_pdf(pdf_path, pages=24, multiple_tables=True, stream=True)
dfs

[                0                                  1                       2  \
 0             NaN                                NaN                     NaN
 1             NaN                                NaN                    ----
 2             NaN                               Land                     NaN
 3             NaN                               area                     NaN
 4             NaN                                NaN                     NaN
 5            Year                             miles)                  Number
 6             NaN                                NaN                     NaN
 7             NaN                                NaN                     NaN
 8             NaN                                  I                     NaN
 9   1970 (Apr. 1)                          3,536,855                     NaN
 10  1960 (Apr. 1)    3,540,911179,323,175 28,625,614                     NaN
 11  1960 (Apr. 1)  2,968,054178,464,236 27 ,766 ,875                     NaN
 12     1950 (Apr.                                NaN  150,697,361 19 028 086
 13           1940               2,977,128131,669,275                     NaN
 14        1930 1)              2 977 128 122 775 046                     NaN
 15  1920 (Jan. 1)                                NaN                     NaN
 16           1910    2,969,565 91,972,266 15,977,691                     NaN
 17           1900    2,969,834 75,994,575 13,046,861                     NaN
 18           1890                          2,969,640                     NaN

                           3          4                 5  \
 0                Population        NaN               NaN
 1                       NaN        NaN               NaN
 2                       NaN        NaN               NaN
 3   Increase from preceding        NaN               NaN
 4                    census        Per               NaN
 5                       NaN    mile of              Year
 6                       NaN  land area               NaN
 7            Number Percent        NaN               NaN
 8                       3 4          5               NaN
 9           23,912,123 13.3         57        1880 (June
 10                       19         50  1870 (June 1)...
 11                     18.4         60        1860 (June
 12                     14.5         50              1850
 13                    7 . 2         44        1840 (June
 14              17 064 16.1         41        1830 (June
 15                     14.9         35              1820
 16                     21.0         31              1810
 17                    20 .7         25              1300
 18       12,791,931 2 5 . 5         21              1790

                                   6                    7  \
 0                               NaN                  NaN
 1                               NaN                  NaN
 2                              Land                  NaN
 3                              area                  NaN
 4                           (square                  NaN
 5                            miles)               Number
 6                               NaN                  NaN
 7                               NaN                  NaN
 8                               NaN                  NaN
 9   2,969,640 50,155,783 10,337,334                  NaN
 10            2 969 640 539 818 449                  NaN
 11                              NaN                  NaN
 12   2,940,042 23,191,876 6,122,423                  NaN
 13                        1,749,462                  NaN
 14             1,749,462 12,866,020                  NaN
 15    1,749,462 9,638,453 2,398,572                  NaN
 16                        1,681,828                  NaN
 17                          864,746  5,308,483 1,379,269
 18                          864,746            3,929,214

                           8           9
 0                Population         NaN
 1                       NaN         NaN
 2                       NaN         NaN
 3   Increase from preceding         NaN
 4                    census  Per square
 5                       NaN     mile of
 6                       NaN   land area
 7            Number Percent         NaN
 8                       NaN         NaN
 9                      26.0        16.9
 10           3,375,128 26.6        13.4
 11           3,251,445 35.6        10.6
 12                     35.9         7.9
 13           4,203,433 32.7           9
 14        3 ,227 ,567  33.5         7.4
 15                     33.1         5.5
 16           1,931,398 36.4         4.3
 17                     35.1         6.1
 18                      NaN       4 . 5  ,
          0        1         2          3   4    5    6    7    8    9   \
 0   204,879  203,810   201,722        NaN NaN  NaN  NaN  NaN  NaN  NaN
 1   202,677  201,385   199 145        NaN NaN  NaN  NaN  NaN  NaN  NaN
 2   ZOO 706  199 399   197'113        NaN NaN  NaN  NaN  NaN  NaN  NaN
 3   198'712  197'457       195        NaN NaN  NaN  NaN  NaN  NaN  NaN
 4   196'560      NaN   193,420        NaN NaN  NaN  NaN  NaN  NaN  NaN
 5       NaN  193,526   191,605        NaN NaN  NaN  NaN  NaN  NaN  NaN
 6       NaN      NaN       NaN        NaN NaN  NaN  NaN  NaN  NaN  NaN
 7   191,889  191,141   189 141        NaN NaN  NaN  NaN  NaN  NaN  NaN
 8   189 242  188 483   186'493        NaN NaN  NaN  NaN  NaN  NaN  NaN
 9       186  185'771       183        NaN NaN  NaN  NaN  NaN  NaN  NaN
 10  133,691      NaN   181,143        NaN NaN  NaN  NaN  NaN  NaN  NaN
 11  180,671  179,979   178 140        NaN NaN  NaN  NaN  NaN  NaN  NaN
 12  177,830  177,135       175        NaN NaN  NaN  NaN  NaN  NaN  NaN
 13      NaN      NaN       NaN        NaN NaN  NaN  NaN  NaN  NaN  NaN
 14  177,073  176,289   174,521        NaN NaN  NaN  NaN  NaN  NaN  NaN
 15  174,141  173 320   171,485        NaN NaN  NaN  NaN  NaN  NaN  NaN
 16  171,274  170'371   168 400        NaN NaN  NaN  NaN  NaN  NaN  NaN
 17  168,221      167       NaN        NaN NaN  NaN  NaN  NaN  NaN  NaN
 18  165,275  164,308   162,311        NaN NaN  NaN  NaN  NaN  NaN  NaN
 19      NaN      NaN       NaN        NaN NaN  NaN  NaN  NaN  NaN  NaN
 20  162,391  161,164   159,069        NaN NaN  NaN  NaN  NaN  NaN  NaN
 21  159 565  158,242   155 975        NaN NaN  NaN  NaN  NaN  NaN  NaN
 22      NaN  155 687       153        NaN NaN  NaN  NaN  NaN  NaN  NaN
 23  154,287      NaN       151        NaN NaN  NaN  NaN  NaN  NaN  NaN
 24  151,684  151,235       150  1909_ _ - NaN    _    _    _    _    I
 25      NaN      NaN       NaN       1908 NaN  NaN  NaN    i  NaN  NaN
 26  149,188  148,665   147,578        NaN NaN  NaN  NaN  NaN  NaN  NaN
 27  146 631  146 093   145 168        NaN NaN  NaN  NaN  NaN  NaN  NaN
 28      NaN      143  142 '566        NaN NaN  NaN  NaN  NaN  NaN  NaN
 29  141,389  140,054   138'385        NaN NaN  NaN  NaN  NaN  NaN  NaN
 30  139,928  132,481   127 573        NaN NaN  NaN  NaN  NaN  NaN  NaN
 31      NaN      NaN       NaN        NaN NaN  NaN  NaN  NaN  NaN  NaN
 32  138 397  132,885   126 708        NaN NaN  NaN  NaN  NaN  NaN  NaN
 33  136'739      134   127'499        NaN NaN  NaN  NaN  NaN  NaN  NaN
 34      NaN      133   130'942        NaN NaN  NaN  NaN  NaN  NaN  NaN
 35      133  133 121   131'595        NaN NaN  NaN  NaN  NaN  NaN  NaN
 36      NaN      131       131        NaN NaN  NaN  NaN  NaN  NaN  NaN
 37      NaN      NaN       NaN        NaN NaN  NaN  NaN  NaN  NaN  NaN
 38      NaN  130,880   130 683        NaN NaN  NaN  NaN  NaN  NaN  NaN
 39      NaN  129 825   129'635        NaN NaN  NaN  NaN  NaN  NaN  NaN
 40      NaN      128   128'639        NaN NaN  NaN  NaN  NaN  NaN  NaN
 41      NaN  127,250   127,099        NaN NaN  NaN  NaN  NaN  NaN  NaN

          10    11       12    13             14      15
 0   121,767   NaN       68   NaN    30,687 1824     924
 1   120 509   NaN   66'970   NaN         29,862     596
 2       119   NaN      NaN   NaN         29 037  10 268
 3   117 397   NaN   64,361   NaN  28 '212 1821-    '939
 4       115   NaN   63,056   NaN           1820     NaN
 5       NaN   NaN      NaN   NaN            NaN     NaN
 6   114,109   NaN   61 775  1854    26 561 1819     379
 7   111,947   NaN   60'496  1353    25'736 1818     NaN
 8   110 049   NaN   59'217  1352           1817  13 899
 9       NaN   NaN   57'938  1851    24 086 1816  13'659
 10  106,461   NaN   56 658  1850           1815     NaN
 11      NaN   NaN      NaN   NaN            NaN     NaN
 12  104,514   NaN  55  379   NaN    22,631 1814  13 179
 13  103,208   NaN      NaN   NaN    22,018 1813  '7 939
 14  103,268   NaN   52 821   NaN         21,406  '7 700
 15  101 961   NaN   51'542   NaN    20,794 1811  '7'460
 16      546   NaN       50   NaN    20,182 1810     NaN
 17      NaN   NaN      NaN   NaN            NaN     NaN
 18   99 111  1879   49,208   NaN         19,569  '7,031
 19      NaN   NaN   48,174   NaN    18,957 1808   6,838
 20   95 335  1877   47 141   NaN    18,346 1807    ,644
 21   93'863  1876   46'107   NaN         17,733     451
 22       92  1875   453073   NaN         17,120     NaN
 23      NaN   NaN      NaN   NaN            NaN     NaN
 24   90 490  1874   44 040  1839    16 684 1804     065
 25      NaN   NaN   43'006  1838         16'264     872
 26   87 008   NaN   41'972  1837           1802     NaN
 27   85'450   NaN       40  1836         15,423     486
 28   83 822   NaN   39,905   NaN         15,003       6
 29      NaN   NaN      NaN   NaN            NaN     NaN
 30      166   NaN   39 051   NaN            NaN   5,159
 31      NaN   NaN   38'213   NaN            NaN     NaN
 32   79'163   NaN   37'376   NaN            NaN   4,883
 33   77 584   NaN   36 538   NaN            NaN   4 745
 34   76,094   NaN      NaN   NaN            NaN       4
 35      NaN   NaN      NaN   NaN            NaN     NaN
 36   74,799   NaN   34,863   NaN         12,565   4 469
 37   73,494   NaN   34 026   NaN         12,237   4'332
 38   72 189   NaN   33'188   NaN    11,909 1792     NaN
 39  70 '885   NaN       32   NaN         11 580   4 056
 40   69 580   NaN   31,513   NaN           1790       3
 41      NaN   NaN      NaN   NaN            NaN     NaN  ]